<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @alumno.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alumno.email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @alumno.tipo %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
