<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @profesor.id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @profesor.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @profesor.apellido %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profesor.email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @profesor.tipo %>
</p>

<%= link_to 'Edit', edit_profesor_path(@profesor) %> |
<%= link_to 'Back', profesors_path %>
