<%= form_with(model: profesor_seccion, local: true) do |form| %>
  <% if profesor_seccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profesor_seccion.errors.count, "error") %> prohibited this profesor_seccion from being saved:</h2>

      <ul>
        <% profesor_seccion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :profesor_id %>
    <%= form.number_field :profesor_id %>
  </div>

  <div class="field">
    <%= form.label :seccion_id %>
    <%= form.number_field :seccion_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
